body{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}
.container{ 
    position: relative;
    margin:15vh auto;
    height: 500px;
    width: 1000px;
}

#canvas{
    background-color: green;
}
/* 
.buttonContainer{
    /* margin: 0 auto;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 800px;   */
/* }

.button{
    margin: 0 auto;
} */



